# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
*.egg

# Build artifacts & Executables
build/
dist/
*.exe
*.log
out.txt

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
